@import "./normalized.less";
@import "./public.less";

.shop_cont {
    width: 100%;
    background: #f5f5f5;
    padding-bottom: 50px;
    .shop_m {
        width: 70%;
        background: #ccc;
        .cart_top {
            padding: 59px 0px 0px;
            .step1{
                background: url(https://www.sonystyle.com.cn/etc/designs/sonystyle/images/shopcart/progress.png) right top no-repeat;
            }
            .c_title {
                height: 38px;
                padding-left: 14px;
                font-size: 24px;
                line-height: 38px;
                color: #000000;
            }
        }
        .shop_intro {
            padding: 46px 0 20px;
            border-bottom: 3px solid #cccccc;
            .r_status {
                font-size: 16px;
                color: #585858;
                line-height: 18px;
                float: right;
                padding-right: 5px;
            }
        }
    }
}