@font-face {
  font-family: 'iconfont';
  /* project id 1286678 */
  src: url('//at.alicdn.com/t/font_1286678_pfpa0yix0in.eot');
  src: url('//at.alicdn.com/t/font_1286678_pfpa0yix0in.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1286678_pfpa0yix0in.woff2') format('woff2'), url('//at.alicdn.com/t/font_1286678_pfpa0yix0in.woff') format('woff'), url('//at.alicdn.com/t/font_1286678_pfpa0yix0in.ttf') format('truetype'), url('//at.alicdn.com/t/font_1286678_pfpa0yix0in.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
header {
  height: 65px;
}
header #head {
  background: black;
  height: 65px;
  display: flex;
}
header #head .headlogo {
  line-height: 65px;
  width: 10%;
  min-width: 150px;
}
header #head .nav {
  width: 48%;
  display: flex;
  color: white;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
  z-index: 5;
}
header #head .nav .iconfont {
  font-size: 2px;
  padding-left: 10px;
}
header #head .nav .typenav {
  display: inline-block;
  width: 23%;
  min-width: 120px;
  position: relative;
  font-size: 16px;
}
header #head .nav .typenav .rightbox {
  width: 1px;
  height: 15px;
  border-right: 1px solid white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
header #head .nav .typenav .typebox {
  color: black;
  font-size: 15px;
  line-height: 35px;
  background-color: #e6e8e8;
  min-width: 243px;
  position: absolute;
  right: 0;
  display: none;
}
header #head .nav .typenav .typebox li {
  text-align: left;
  margin-left: 40px;
  position: relative;
}
header #head .nav .typenav .typebox li .iconfont {
  font-weight: lighter;
  color: gray;
  font-size: 15px;
  position: absolute;
  right: 20px;
}
header #head .nav .typenav .typebox li hr {
  border: none;
  height: 1px;
  border-bottom: 1px solid white;
  width: 70%;
}
header #head .nav .typenav:hover .typebox {
  display: block;
}
header #head .nav .typenav:hover b {
  color: #10a0d5;
}
header #head .nav .webnav {
  display: inline-block;
  width: 23%;
  position: relative;
  font-size: 16px;
}
header #head .nav .webnav .webnav-ul {
  width: 970px;
  height: 460px;
  background-color: white;
  color: black;
  position: absolute;
  left: -150%;
  display: none;
}
header #head .nav .webnav .webnav-ul .webnav-li {
  display: inline-block;
  width: 13%;
  line-height: 40px;
  font-size: 15px;
  font-weight: bolder;
  vertical-align: top;
  margin-top: 40px;
}
header #head .nav .webnav .webnav-ul .webnav-li li {
  line-height: 30px;
  font-size: 12px;
  font-weight: normal;
}
header #head .nav .webnav .webnav-ul .webnav-li li:hover {
  color: #10a0d5;
  cursor: pointer;
}
header #head .nav .webnav:hover .webnav-ul {
  display: block;
}
header #head .nav .webnav:hover b {
  color: #10a0d5;
}
header #head .nav .searchnav {
  width: 50%;
  position: relative;
}
header #head .nav .searchnav .searchbox {
  line-height: 26px;
  width: 230px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #head .nav .searchnav .searchbox #search-input {
  width: 75%;
  line-height: 25px;
}
header #head .nav .searchnav .searchbox .iconfont {
  width: 24%;
  color: black;
  font-size: 20px;
}
header #head .headright {
  width: 40%;
  min-width: 440px;
  line-height: 65px;
  display: flex;
  margin-left: 50px;
}
header #head .headright .loginbox {
  color: #1fa8e2;
  width: 30%;
  min-width: 200px;
  text-align: center;
  position: relative;
  font-size: 16px;
}
header #head .headright .loginbox .usr {
  line-height: 20px;
  display: inline-block;
  min-width: 130px;
  font-size: 12px;
  color: white;
  text-align: left;
}
header #head .headright .loginbox .user {
  line-height: 65px;
  font-size: 15px;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  color: white;
}
header #head .headright .loginbox .rightbox {
  width: 1px;
  height: 15px;
  border-right: 1px solid white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
header #head .headright .loginbox span:hover {
  cursor: pointer;
}
header #head .headright .mysony {
  color: white;
  width: 30%;
  min-width: 110px;
  text-align: center;
  position: relative;
  font-size: 16px;
  z-index: 5;
}
header #head .headright .mysony .mysony-ul {
  background: white;
  color: gray;
  line-height: 35px;
  font-size: 13px;
  display: none;
}
header #head .headright .mysony .mysony-ul li {
  border-bottom: 1px solid #dcdcdc;
}
header #head .headright .mysony .mysony-ul li:hover {
  color: #10a0d5;
  cursor: pointer;
}
header #head .headright .mysony .iconfont {
  font-size: 2px;
  padding-left: 10px;
}
header #head .headright .mysony .rightbox {
  width: 1px;
  height: 15px;
  border-right: 1px solid white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
header #head .headright .mysony:hover .mysony-ul {
  display: block;
}
header #head .headright .mysony:hover b {
  color: #10a0d5;
}
header #head .headright .support {
  width: 30%;
  min-width: 110px;
  color: white;
  text-align: center;
  font-size: 16px;
  z-index: 5;
}
header #head .headright .support .iconfont {
  font-size: 2px;
  padding-left: 10px;
}
header #head .headright .support .support-ul {
  background: white;
  color: gray;
  line-height: 35px;
  font-size: 13px;
  display: none;
}
header #head .headright .support .support-ul li {
  border-bottom: 1px solid #dcdcdc;
}
header #head .headright .support .support-ul li:hover {
  color: #10a0d5;
  cursor: pointer;
}
header #head .headright .support:hover .support-ul {
  display: block;
}
header #head .headright .support:hover b {
  color: #10a0d5;
}
header #head .headright .shoppingcar {
  width: 9%;
}
header #head .headright .shoppingcar .iconfont {
  font-size: 30px;
  color: white;
}
header #head .totop {
  line-height: 50px;
  width: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: bisque;
}
/*登录*/
.login {
  background: #fff;
  position: fixed;
  width: 505px;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  text-align: center;
  display: none;
  z-index: 10;
}
.login .cha:hover {
  cursor: pointer;
}
.login .register-but:hover {
  cursor: pointer;
}
.login .username {
  margin-top: 40px;
  border: 1px solid #333;
  width: 300px;
  height: 41px;
  text-indent: 10px;
}
.login .password {
  margin-top: 20px;
  border: 1px solid #333;
  width: 300px;
  height: 41px;
  text-indent: 10px;
}
.login .login-an {
  width: 302px;
  margin: 0 auto;
  text-align: left;
}
.login .login-an p {
  display: inline-block;
  font-size: 14px;
  margin: 10px 0 20px 0;
  color: #BFBFBF;
}
.login .login-an button {
  width: 302px;
  display: block;
  background: #1E95F1;
  height: 42px;
  color: white;
  font-size: 20px;
  font-family: "微软雅黑", Arial;
}
.login .login-an .tis {
  width: 100%;
  text-align: center;
  color: #a7a7a7;
  font-size: 12px;
}
/*注册*/
.register {
  background: #fff;
  position: fixed;
  width: 505px;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  text-align: center;
  z-index: 10;
  display: none;
}
.register form {
  width: 302px;
  margin: 0 auto;
  position: relative;
}
.register form .item::after {
  content: attr(data-tips);
  color: red;
  font-size: 14px;
  position: absolute;
  left: 0;
  display: none;
}
.register form .item.err::after {
  display: block;
}
.register .cha:hover {
  cursor: pointer;
}
.register .login-but:hover {
  cursor: pointer;
}
.register input {
  margin-top: 25px;
  border: 1px solid #333;
  width: 300px;
  height: 41px;
  text-indent: 10px;
}
.register button:hover {
  color: #333;
  cursor: pointer;
}
.register button {
  width: 302px;
  background: #1E95F1;
  height: 42px;
  color: white;
  font-size: 20px;
  font-family: "微软雅黑", Arial;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
