#head {
    background: #444444;
    .top-bar {
        background: green;
        display: flex;
        justify-content: space-between;
        font: 300 14px/40px "微软雅黑"; 
        li {
            display: inline-block;
        }
        a {
            color: #ffffff;
        }
    }
}